<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Data Analytics</title>
</head>

<body>
    
    <div class="topnav">
        <a href="./home">Home</a>
        <a class="active" href="./analysis">Data Analytics</a>
        <a href="./optimization">Optimization</a>
        <a href="./forecast">Forecast</a>
        <a href="./about">About</a>
    </div>
    <div>

        <iframe title="FYP-BI" width="1250" height="636" src="https://app.powerbi.com/view?r=eyJrIjoiNGJlYWEzMTgtZWM4Yy00YzViLWE4MDgtMWYzMTI4Y2NmNTUzIiwidCI6ImVlNThjYTk2LTA4MDQtNDRiNS1iZGRlLWRhOThkYjkyMWYxZCIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
</body>

</html>